<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PeliculasJ</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">PelículasJ.com</h2>
			<nav>
                <ul class="horizontal-list">
                  <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
                  <li><a routerLink="/peliculas" routerLinkActive="active">Peliculas</a></li>
                  <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
                </ul>
			</nav>
		</div>
	</header>
  <section id="contact">
    <div class="container">
      <h2>CONTACTO</h2>
      <p class="large">
        Si tienes alguna pregunta, comentario o consulta, no dudes en contactarnos. 
        Estamos aquí para ayudarte en todo lo que necesites. Completa el formulario 
        de contacto o utiliza los detalles de contacto que se encuentran a continuación 
        y nos pondremos en contacto contigo lo antes posible. ¡Esperamos saber de ti!</p>
      <form action="">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-group-control" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-group-control" />
        </div>
        <div class="form-group">
          <label for="message">Mensaje</label>
          <textarea name="" id="" cols="30" rows="10" class="form-group-control"></textarea>
        </div>
        <button class="btn btn-dark">Enviar mensaje</button>
      </form>
    </div>
  </section>

  
</body>
</html>
<footer id="mainfooter">
  <div class="container">
    <a href="https://twitter.com/JohnAlv96426219" class="twitter-follow-button" data-show-count="false"
      >Follow @JohnAlv96426219</a
    >
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</footer>
