<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PeliculasJ</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">PelículasJ.com</h2>
			<nav>
                <ul class="horizontal-list">
					<li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
					<li><a routerLink="/peliculas" routerLinkActive="active">Peliculas</a></li>
					<li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
				  </ul>
			</nav>
		</div>
	</header>

	<main>
		<div class="pelicula-principal">
			<div class="contenedor">
				<h3 class="titulo">Super Mario Bros</h3>
				<p class="descripcion">
					Los hermanos Mario y Luigi comenzaron recientemente su negocio de plomería en Brooklyn, Nueva York. 
					El negocio tiene problemas y su padre desaprueba la decisión de Mario de dejar su trabajo estable bajo 
					el antagonista Spike. Después de ver una fuga importante en las alcantarillas en las noticias, Mario y 
					Luigi van al subsuelo para arreglarlas, pero ambos son absorbidos por una tubería y separados en el proceso.
				</p>
				<button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
			</div>
		</div>
		<h2 id="recomendadas"></h2>
		<div class="peliculas-recomendadas contenedor">
			<div class="contenedor-titulo-controles">
				<h3>Películas Recomendadas</h3>
				<div class="indicadores"></div>
			</div>

			<div class="contenedor-principal">
				<button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

				<div class="contenedor-carousel">
					<div class="carousel">
						<div class="pelicula">
							
								<img src="img/1.jpg" alt="">
							
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/502356-the-super-mario-bros-movie?language=es">
								<img src="img/2.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/385448-the-little-mermaid?language=es">
								<img src="img/3.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/tv/123856-florida-man?language=es">
								<img src="img/4.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/700391-65?language=es">
								<img src="img/5.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/1040330-black-adam-saviour-or-destroyer?language=es">
								<img src="img/6.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/675353-sonic-the-hedgehog-2?language=es">
								<img src="img/7.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/tv/223313-obsession?language=es">
								<img src="img/8.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/7555-rambo?language=es">
								<img src="img/9.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/1023313-la-exorcista?language=es">
								<img src="img/10.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/tv/195868-gotham-knights?language=es">
								<img src="img/11.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/1003580-legion-of-super-heroes?language=es">
								<img src="img/1.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/502356-the-super-mario-bros-movie?language=es">
								<img src="img/2.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/385448-the-little-mermaid?language=es">
								<img src="img/3.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/tv/123856-florida-man?language=es">
								<img src="img/4.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/700391-65?language=es">
								<img src="img/5.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/1040330-black-adam-saviour-or-destroyer?language=es">
								<img src="img/6.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/675353-sonic-the-hedgehog-2?language=es">
								<img src="img/7.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/tv/223313-obsession?language=es">
								<img src="img/8.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/7555-rambo?language=es">
								<img src="img/9.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/movie/1023313-la-exorcista?language=es">
								<img src="img/10.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="https://www.themoviedb.org/tv/195868-gotham-knights?language=es">
								<img src="img/11.jpg" alt=""></a>
						</div>
					</div>
				</div>

				<button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</main>
	

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
	
</body>
</html>
<footer id="mainfooter">
    <div class="container">
      <a href="https://twitter.com/JohnAlv96426219" class="twitter-follow-button" data-show-count="false"
        >Follow @JohnAlv96426219</a
      >
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </footer>